{% extends 'base.html'%}


{% block content %}

	<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark text-light">
		<div class="container-fluid">
		  <a class="navbar-brand" href="/index">India Tourism</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
			  <a class="nav-link active" aria-current="page" href="/index">Home</a>
			  <a class="nav-link" href="/contact">About us</a>
			  <a class="nav-link" href="accounts/login">login</a>
			  <a class="nav-link disabled" aria-disabled="true" href="accounts/logout">logout</a>
			</div>
		  </div>
		</div>
	  </nav>

	  
     <div class="container my-3">
	  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
		  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			{% for v1 in val %}
		  <div class="carousel-item active">
			<img class="d-block w-100" src="{{v1.img.url}}" width="640" height="420" alt="First slide">
		  </div>
		  {% endfor %}
		  
		
	</div>  
    

	<div class="container my-4">
       {% for v1 in val %} 

	  <div class="jumbotron">
		<h1 class="display-4">{{v1.name}}</h1>
		<p class="lead">located in {{v1.state}}</p>
		<hr class="my-4">
		<p>{{v1.desc}}</p>
		<p class="lead">
		  <a class="btn btn-primary btn-lg" href="#" role="button">from Rs.{{v1.price}}</a>
		</p>
	  </div>
	</div>
    {% endfor %}
	
{% endblock %}
